@model MvcMovie.Models.User
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">@Model.Name</th>
      <th scope="row">@Model.SurName</th>
       <th scope="row">@Model.FullName</th>
    </tr>
  </tbody>
</table>